body {
    background-image: url(../images/background.jpg);

}

header {
    position: fixed;
    z-index: 1;
}
.name_site {
    font-size: 3em;
    font-weight: 700;
    color: white;
    text-align: center;
    font-style: italic;
    text-transform: capitalize;
    padding: 1em;
   /** border: 1px dashed grey;**/
    /** background-color: rgba(255, 255, 255, 0.4); **/
    padding-left: 528px;
    padding-right: 528px;
    text-decoration: underline;
}

.menu {
    border: 1px dashed grey;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: sticky;
    width: 15%;
    background-color: grey;
    font-weight: 200;
    font-size: 2em;
    font-style: italic;
    color: #ECECEC;
    background-color: rgba(255, 255, 255, 0.4);
    text-decoration: underline dotted;
    text-transform: capitalize;


}

.menu1 {
    color: red;
}

.menu2 {
    color: black;
}

.menu3 {
    color: brown;
}

main {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    padding-top: 15em;
    padding-left: 15em;
}

.objet { 

    width: 300px;
    padding: 1em;
    margin: 1em;
    border: 1px dashed white;
    position: relative;
    background-color: rgba(255, 255, 255, 0.4);
}



.objet__image img {
    max-width: 100%;
}

.objet__name {
    color:black;
    font-weight: 700;
    font-size: 1em;
    padding-bottom: 0.5em;
    font-style: italic;
    text-transform: capitalize;
    text-align: center;
    padding-top: 1em;
}